html {
  background-color: #fff;
  color: #4B284B;
  
  font-family: 'Bellefair', 'Garabond', 'Times', 'Times New Roman', serif;
  font-size: 1.1em;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 42px;
}

svg {
  width: 24px;
  height: 24px;
}

p {
  width: 100%;
  text-align: center;
  margin: 8px auto 16px auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #469bd8;
}

a span {
  color: #b3b3b3;
  margin-right: 8px;
}

a span:hover {
  color: #b3b3b3;
}

h2 {
  color: #b3b3b3;
  margin-bottom: 48px;
}

h1, h2 {
  width: 100%;
  text-align: center;
  font-weight: normal !important;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 8%;
  margin: 0 auto;
  min-width: 145px;
}

#icons a {
  width: 32px;
  height: 32px;
}

#entries {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#entries a {
  padding-top: 8px;
  cursor: pointer;
  color: #4B284B;
}

#entries a:hover {
  color: #469bd8;
}

#md {
  width: 64%;
  margin: auto;
}

#md p {
  text-align: left !important;
}

.me {
   color: #F0735A;
   font-size: 1.45em;
}

.divider {
  width: 3vw;
  margin: 16 auto 36 auto;
  border-bottom: solid 1px #f4895a;
}

.tiny-divider{
  width: 0.5vw;
  margin: 36 auto 36 auto;
  border-bottom: solid 1px #000;
}


/* HighlightJS theme */
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
  margin: 32px 0;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
