html {
  background-color: #1E2835;
  color: #C9CACC;

  line-height: 1.4;
  font-family: EuropaGroNr2SH, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-flow: column;
  margin: 3% 22%;
}

p {
  width: 100%;
  text-align: left;
  margin: 8px auto 16px auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #FF795E;
}

a span {
  margin-right: 8px;
}

a span:hover,
a:hover {
  color: #F09785;
}

h1 {
  width: 100%;
  margin: 50px auto 50px auto;
  font-weight: normal !important;
  color: #eee;
}

h2 {
  margin: 50px auto 0px auto;
  color: #eee;
}

h3 {
  color: #FF795E;
  margin: 50px 0px 5px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 20%;
}

ul {
  margin-top: 0px;
  margin-bottom: 5%;
}

code {
  background: #1d1f21;
}

::selection {
  background-color: #FF795E;
  color: #fff;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column a {
  display: table;
  padding-top: 8px;
  cursor: pointer;
  color: #C9CACC;
}

.block {
  display: block;
}

.me {
  font-size: 4.6em;
  color: #FF795E;
}

.me:hover {
  color: #F09785;
}

.divider {
  width: 30vw;
  margin: 3% 0 3% 0;
  border-bottom: solid 1px #F0735A;
}

.cv-date {
  display: inline-block;
  min-width: 4%;
  font-size: 0.9em;
  color: #757575;
  margin: 0.5% 0%;
}

.cv-role {
  font-size: 1.5em;
  line-height: 2em;
}

@media (max-width:1400px) {
  html {
    font-size: 1.5em;
  }

  body {
    display: flex;
    flex-flow: column;
    margin: 2% 8%;
  }
}

/* HighlightJS theme */
/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #cc6666;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #F0735A;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #f0c674;
}

/* Tomorrow Green but changed to pink by me */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #F09785;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #81a2be;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #b294bb;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}