html {
  background-color: #fff;
  color: #4B284B;
  
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
  font-size: 1.0em;

  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 42px;
}

svg {
  width: 24px;
  height: 24px;
}

p {
  width: 100%;
  text-align: center;
  margin: 8px auto 16px auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #F0735A;
}

a span {
  margin-right: 8px;
}

a span:hover, a:hover {
  color: #FF9B0D;
}

h1, h2 {
  width: 100%;
  margin: 50px auto 50px auto;
  text-align: center;
  font-weight: normal !important;
}

h2 {
  color: #b3b3b3;
}

::selection {
  background-color: #f4895a;
  color: #fff;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 33%;
  margin: 0 auto;
  margin-top: 25px;
  min-width: 145px;
}

#icons a {
  width: 32px;
  height: 32px;
}

#entries {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#entries a {
  padding-top: 8px;
  cursor: pointer;
  color: #4B284B;
}

#entries a:hover {
  color: #F0735A;
}

#md {
  width: 64%;
  margin: auto;
}

#md p {
  text-align: left !important;
}

.block {
  display: block;
}

.orange {
  color: #F0735A;
}

.light-grey-text {
  color: #a5a5a5;
}

.me {
  font-size: 1.45em;
}

.divider {
  width: 3vw;
  margin: 22 auto 20 auto;
  border-bottom: solid 1px #f4895a;
}

#ramblings {
  margin: 15px auto 15px auto;
  color: #a5a5a5;
  font-size: 20;
}

.cv {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.cv-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
}

.cv-row ul {
  padding: 0;
}

.cv-date {
  display: inline-block;
  min-width: 4%;
  font-size: 0.9em;
  color: #757575;
  margin: 0.5% 0%;
}

.cv-role {
  font-size: 1.5em;
  line-height: 2em;
}

.technologies, .contributions {
  display: block;
  margin: 1% 2.5%;
}

/* HighlightJS theme */
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
  margin: 32px 0;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
